doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    title All Blue - Home
    link(href='https://fonts.googleapis.com/css2?family=Arvo&family=Kumbh+Sans&display=swap' rel='stylesheet')
    link(href='style.css' rel='stylesheet')
    script(src='https://unpkg.com/axios/dist/axios.min.js')
  body
    .content
      img.img-all-blue(src='all-blue-fake-logo.png', alt='All Blue Logo')
      h1
        if user
          | Hi, #{user.firstName}! 🎉
        else
          | Welcome! 🎉
      .user-details
        if user
          p
            strong Name: 
            | #{user.firstName} #{user.lastName}
          p
            strong District: 
            | #{user.district}
          p
            strong Email: 
            | #{user.email}
        else
          p No user information available. Please log in again.
      a.btn(href='/logout') Logout
